* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    /* background-color: red; */
    display: flex;
    height: 100vh;
    width: 100%;
    border-width: 10px;
}

.signup-img {
    width: 70%;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/login-background.jpeg');
}
.signup-de {
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    
    background-color: rgba(225, 169, 80, 0.916);
}
.wrapper {
    display: flex;
    width: 70%;
    height: 90%;
    
    justify-content: center;
    align-items: center;
    text-align: left;
    
}.input-box {
    background-color: white;
    height: 100%;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    flex-grow: 1;
    padding: 100px 30px 40px;
    /* box-shadow: 0px 0px 17px 2px rgba(3, 0, 0, 0.8); */
    /* padding: 20px 50px 20px; */
}
.input-box h1 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}
.form-group {
    border-bottom: 1px solid #0e0e0e;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.fa-eye {
  cursor: pointer;
}
.fa-eye-slash {
  cursor: pointer;
}

.form-group i {
    /* color: #fff; */
    font-size: 20px;
    padding-top: 5px;
    padding-right: 5px;
}
.form-input {
    background: transparent;
    border: 20px;
    outline: 20px;
    /* border-radius: 10px; */
    color: black;
    flex-grow: 1;
}
.form-input::placeholder {
    color: rgba(0, 0, 0, 0.936);
    
}
.form-submit {
    background: transparent;
    border: 1px solid black;
    background-color: #0974f7bc;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 80%;
    text-transform: uppercase;
    padding: 12px 20px;
    transition: 0.1s ease-in-out;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.form-submit:hover {
    background-color: #0073ff;
    box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.221);

}
#OR {
    margin-top: 40px;
}
/* THÔNG BÁO */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
  }
  .toast--warning {
    border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
    color: #ffc021;
  }
  
  .toast--error {
    border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
    color: #ff623d;
  }
  
  .toast + .toast {
    margin-top: 24px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
    padding: 0 16px;
  }
  
  .toast__body {
    flex-grow: 1;
  }
  
  .toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }


  /* ĐĂNG KÝ */

  /* modal đăng ký */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  /*border: solid red 2px;*/
}  

.modal-content {
  /*border: solid blue 2px;*/
  background-color: #fff;
  position: absolute;
  height: 80%;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
}
.Bungra{
  animation: Bungra 1s  ease-in-out ;
}
@keyframes Bungra{
  from{
    scale: 0;
  }
  to{
    scale: 1;
  }
}

.close-style {
  display: flex;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  height: 0;
  right: 0;
  margin-left: 90%;
  color: #aaa;  
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

/* form đăng ký */
.signup-body {
  background-color: #b1d0f6bc;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  /* border: #0e0e0e solid 2px; */
  padding: 0 20px;
}

.signup_form-heading {
  font-weight: 400;
}

.signup_form-form {
  margin-top: 40px;
}

.sign_form-input {
  width: 100%;
  height: 40px;
  /* margin-bottom: 14px; */
  padding: 0 12px;
  border-radius: 2px;
  border: 1px solid ;
}

.signup_form-aside {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 15px;
}

.signup_form-text {
  font-size: 1.0rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 5px;
}

.signup_form-textlink {
  text-decoration: none;
  color: red;
  cursor: text;
}

.signup_control {
  margin-top: 20px;
}

.btn {
  min-width: 142px;
  height: 36px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn.btn.form_signup:hover {
  background-color: rgb(242, 37, 1);
}

.btn.form_signup {
  background-color: rgba(243, 54, 21, 0.919);
  color: white;
}

.signup_form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
  
  margin-top: 35px;
  
}

.eye-icon {
  position: absolute;
  color: black;
  top: 68%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

#PASSWORD-Sign,
#PASSWORD-CFT {
  padding-right: 30px;
}

.invalid{
  color: red;
}

.form-label {
  color: black;
  display: flex;
  font-size: 0.9rem;
}

.form-message {
  display: flex;
  font-size: 0.8rem;
  color: red; /* Màu sắc cho thông báo lỗi */
  position: absolute;
  top: 80%;
  transform: translateY(100%); /* Đẩy nó xuống dưới khung input */
}

 /* ======= Toast message ======== */
  
 #toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
@media (max-width: 600px) {
  .signup-img {
    width: 10%;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/login-background.jpeg);
  }
  .signup-de {
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(225, 169, 80, 0.916);
  }
  .modal-content {
    /* border: solid blue 2px; */
    background-color: #fff;
    position: absolute;
    height: 80%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
  }

  #toast {
    position: fixed;
    top: 32px;
    right: 5px;
    z-index: 999999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    min-width: 300px;
    max-width: 350px;
    border-left: 3px solid red;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
  }


}